<div class="menu-item" id="title">game of shapes</div>
<div class="menu-item">
    <p>how to connect a controller</p>
    <p>Choose play on the device that you want to use as the game display.</p>
    <p>Next navigate to this web page on a second device that is touch enabled and choose control.</p>
    <p>Then enter the id given on your game display into the controller.</p>
    <p>If successful, your controller is now connected and you can use it to start!<p>
    <p>how to play</p>
    <p>If you are playing with a controller, hold your touch device with both hands.</p>
    <p>Use your thumbs to manipulate the analog sticks, which appear wherever you initiate contact with the screen.</p>
    <p>The left stick is for movement, while the right stick is for firing.</p>
    <p>The keys w,a,s and d can be used for movement if you are not using a controller.</p>
    <p>The mouse is used for firing without a controller. Simply click in the direction that you want you want the projectiles to go.</p>
    <p>In game of shapes you play as the largest blue circle.</p>
    <p>The other circles that you encounter are helpful. But all other shapes are harmful.</p>
    <p>Stop them before they can take you out!</p>
</div>
<div class="menu-item btn" id="back">back</div>