<div class="menu-item title">a game of shapes</div>
<div class="menu-item btn" id="play">play</div>
<div class="menu-item btn" id="control">control</div>
<div class="menu-item btn" id="help">help</div>