<div>
    <div class="menu-item title">a game of shapes</div>
    <div class="menu-item btn" id="play">template</div>
    <div class="menu-item btn" id="control">template</div>
    <div class="menu-item btn" id="help">template</div>
</div>