<div id="title">game of shapes</div>
<div class="btn" id="play-again">play again</div>
<div>
    <p>leader board</p>
    <ol>
        {{#each leaderBoard}}
            <li>{{name}} {{score}}</li>
        {{/each}}
    </ol>
</div>
<div><a href="http://masonbedard.com">more projects</a></div>

